/Binaries/*
/Content/GTFreeMaterials/*
/Content/MixamoAnimPack/*
/Content/StarterContent/*
/Content/WaterPlane/*
/Intermediate/Build/*
/Saved/*

# Precompiled Headers
*.gch
*.pch
*.sdf
*.bin
